<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>datos</title>
</head>

<% if( fondo == "Amarillo"){ %>
    <body style="background-color: #ffeb3b;;" >
<% } %>

<% if( fondo == "Verde"){ %>
    <body style="background-color: #47ff4eb3;" >
<% } %>

<% if( fondo == "Azul"){ %>
    <body style="background-color: #7593ff;" >
<% }else{  %>
    <body>
    <% } %>

    <div class="datos">
        <h1 class="td">Datos</h1>
        <ul>
      <li> <b> Hola  </b>  <%= datos_form.nombre %> </li>
      
      <li> <b> Elegiste el color: </b> <i id="asd"><%= datos_form.fondo %> </i> </li>
    
    <li> <b> Email: </b> <%= datos_form.mail %> </li>
      
      <li> <b>Edad: </b> <%= datos_form.edad %> </li>
 
    </ul>
       <a href="/saludo">Ir al saludo </a>
 
    </div>

    
</body>
        
</html>